<br><br><br>
<div class="text-center">
    <h1>MI FORMULARIO</h1>
</div>
<div class="container" style="width:60%;">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
</div>


<div class="container own">
  <div class="text-center">
    <h2>Nos encontramos en </h2>
  </div>
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15300.341279113583!2d-68.1073814!3d-16.52178975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sbo!4v1666886316704!5m2!1ses!2sbo" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>